@page "/"
@using System.Security.Claims;

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Welcome @context.User.Identity!.Name !!</h1>
    </Authorized>
</AuthorizeView>

<SurveyPrompt Title="How is Blazor working for you?" />
